/* Larger than mobile */
@media (min-width: 400px) {
    .book{
        max-height: 100px;
        max-width: 200px;
    }
    .description{

    }
}   

/* Larger than phablet */
@media (min-width: 550px) {
    .book{
        max-height: 250px;
        max-width: 200px;
    }
    .description{

    }
}
    
/* Larger than tablet */
@media (min-width: 750px) {
    .book{
        max-height: 300px;
        max-width: 200px;
    }
    .description{

    }
    
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .book{
        max-height: 400px;
        max-width: 200px;
    }
    .description{

    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .book{
        max-height: 450px;
        max-width: 200px;
    }
    .description{
        
    }
}
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #00a087;
}
.content {
  margin-top: 20px;
}

/* Example responsive navigation menu  */
.fixed-nav-bar li, .fixed-nav-bar a { 
  height: 50px;
  line-height: 50px;
}
.menu {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
.menu a, .menu a:visited {
  color: #ffffff;
}
.menu a:hover, .menu a:target {
  color: #ebebeb;
}
.menu-items {
  display: inline-block;
}
.sitename {
  display: inline-block;
  margin-right: 20px;
  margin-left: 10px;
}
a.sitename, a:visited.sitename {
  color: #e0e0e0;
}
.menu-items li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
.menu-items a {
  text-decoration: none;
}
.show, .hide {
  display: none;
  padding-left: 15px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center left;
  color: #dde1e2;
}
.show {
  background-image: url(assets/down-arrow-icon.png);
}
.hide {
  background-image: url(assets/up-arrow-icon.png);
}
ul.expectations{
  list-style-type: circle;
}
ul.process {
  list-style-type: disc;
}